absl-py==2.4.0
astunparse==1.6.3
bcrypt==3.2.0
blinker==1.9.0
certifi
chardet
click==8.3.2
colorama
contourpy==1.3.2
cryptography==3.4.8
cycler==0.12.1
flatbuffers
fonttools==4.62.1
gast==0.7.0
google-pasta==0.2.0
grpcio
h5py==3.16.0
idna
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
keras==3.12.1
kiwisolver==1.5.0
libclang==18.1.1
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes==0.3.2
numpy
opt_einsum==3.4.0
optree==0.19.0
packaging
pandas==2.3.3
Pillow==9.0.1
protobuf==4.25.9
Pygments
pyparsing
python-dateutil
pytz
PyYAML
requests
rich==14.3.3
scipy==1.15.3
six
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.3.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
urllib3
wrapt==2.1.2
zipp
